@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --font-color: #132b50;
  --btn-background-color: #132b50;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(19, 43, 80, 0.04);
}

.wrapper {
  background-color: #fff;
  border-radius: 1.6rem;
  box-shadow: 0px 44px 104px 0 rgba(19, 43, 80, 0.1);
  max-width: 584px;
  margin: 100px auto;
  padding: 8.5rem;
}

.inner-container-wrapper {
  max-width: 414px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}

.top h1 {
  font-size: 3.2rem;
}

.top .acc {
  margin-block: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.top .acc .acc-text p {
  font-size: 1.4rem;
}
.top .acc .acc-text h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.pass-input {
}
.pass-input label {
  font-size: 1.4rem;
  font-weight: 700;
}

.pass-input .box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pass-input .box input {
  padding: 1.6rem;
  width: 100%;
  height: 59px;
  border: none;
  border: 1px solid #132b50;
  border-radius: 0.5rem;
  margin-top: 0.8rem;

  background: url(./lock-icon.png) no-repeat 14px 15px;
  padding-left: 45px;
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.2rem;
}

.bottom .continue-btn {
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: var(--btn-background-color);
  color: white;
  border: none;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.left p {
  font-size: 1.6rem;
  font-weight: 600;
}

.slide {
  border: 1px solid #132b50;
  width: 60px;
  height: 36px;
  border-radius: 50px;
}

.circle {
  width: 100%;
  height: 22px;
  background-color: #132b50;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.circle::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  margin: 0.5rem;
  transition: 0.3s ease;
  background-color: #132b50;
  border-radius: 50%;
}

input:checked + .circle {
  background-color: #131339;
}
input:checked + .circle::before {
  transform: translateX(25px);
}

.slide input {
  display: none;
}

.reset {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  text-decoration: underline;
}

@media screen and (max-width: 610px) {
  body {
    padding: 1rem;
  }

  .wrapper {
    padding: 3rem;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 350px) {
  input:checked + .circle::before {
    transform: translateX(15px);
  }
}
